# Requires sudo for CUDA install
sudo: required

# CPP language
language: cpp

# Compiler, bionic should ship with recent enough GCC. 
compiler:
  - gcc

# Compiler matrix for CUDA version(s)
# see https://github.com/jeremad/cuda-travis/blob/master/.travis.yml
matrix:
  include:
    # - name: CUDA 9.2
    #   env:
    #   - CUDA_LONG=9.2.148-1
    #   - CUDA_SHORT=9.2
    #   - UBUNTU_VERSION=ubuntu1604
    #   dist: xenial
    - name: CUDA 10.1
      env:
      - CUDA_LONG=10.1.105-1
      - CUDA_SHORT=10.1
      - UBUNTU_VERSION=ubuntu1804
      dist: bionic

# Install CUDA and other dependencies
install: 
 - chmod +x ./scripts/travis_install.sh
 - sudo -E ./scripts/travis_install.sh
 
# Add nvcc to path, prep to use manually installed cmake, decide on cuda architectures
before_script: 
  - PATH=~/.local/bin:${PATH}
  - CUDA_HOME=/usr/local/cuda-${CUDA_SHORT}
  - LD_LIBRARY_PATH=${CUDA_HOME}/lib64:${LD_LIBRARY_PATH}
  - PATH=${CUDA_HOME}/bin:${PATH}
  - CMAKE_CMD=/usr/bin/cmake
  - CUDA_ARCH="35;75"

# Build steps
script: "mkdir build && cd build && ${CMAKE_CMD} .. -DBUILD_TESTS=ON -DWARNINGS_AS_ERRORS=ON -DSMS=${CUDA_ARCH} -DBUILD_SWIG_PYTHON=ON -DBUILD_SWIG_PYTHON_VIRTUALENV=ON && make -j`nproc` all_lint all docs "
