# Specify version format
version: "0.1.{build}"

# Operating system (build VM template)
# os: Visual Studio 2015
os: Visual Studio 2017
# os: Visual Studio 2019

# build platform, i.e. Win32 (instead of x86), x64, Any CPU. This setting is optional.
platform: 
  - x64
  
# specify custom environment variables, including boost version, which corresponds to which windows image is used.
# https://www.appveyor.com/docs/windows-images-software/#boost
# environment:
  # <name>: <value>


# build configuration, i.e. Debug, Release, etc.
configuration:
 - Release

# scripts that are called at very beginning, before repo cloning
init:
  - cmd: msbuild /version

# clone directory
clone_folder: C:\projects\FLAMEGPU2_dev

# scripts that run after cloning repository (requires reboot to propagate installer env variables)
install:
  - ps: .\scripts\appveyor_install.ps1
  - ps: Write-Output 'Rebooting worker node...'
  - ps: sleep 5
  - ps: restart-computer -f
  - ps: sleep 5
  - ps: Write-Output 'Reboot complete'

# Before build use cmake
before_build:
- cmd: |-
    mkdir build
    cd build
    cmake --version
    cmake .. -A x64 -DWARNINGS_AS_ERRORS=ON -DSMS=60

# The build
build:
  project: build\FLAMEGPU2.sln

#debugging
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
