# Build the Tests target under windows
name: Windows Tests

on:
  # Only allow manual triggers.
  workflow_dispatch:

defaults:
  run:
    # Default to using bash regardless of OS unless otherwise specified.
    shell: bash

# A single job, which builds the test suite on windows targets. This is time consuming, so is not part of the regular CI
# This is provided in addition to the Draft-Release CI so this can be ran more regularly, without triggering the array of wheel builds.
jobs:
  # Windows Test suite builds builds
  build-tests-windows:
    runs-on: ${{ matrix.cudacxx.os }}
    strategy:
      fail-fast: false
      # Multiplicative build matrix
      # optional exclude: can be partial, include: must be specific
      matrix:
        # CUDA_ARCH values are reduced compared to wheels due to CI memory issues while compiling the test suite.
        cudacxx:
          - cuda: "12.6.0"
            cuda_arch: "50"
            hostcxx: "Visual Studio 17 2022"
            os: windows-2022
          - cuda: "12.0.0"
            cuda_arch: "50"
            hostcxx: "Visual Studio 16 2019"
            os: windows-2019
          - cuda: "11.8.0"
            cuda_arch: "35"
            hostcxx: "Visual Studio 16 2019"
            os: windows-2019
          - cuda: "11.0.3"
            cuda_arch: "35"
            hostcxx: "Visual Studio 16 2019"
            os: windows-2019
        config:
          - name: "Release"
            config: "Release"
            SEATBELTS: "ON"
        VISUALISATION:
          - "OFF"

    # Name the job based on matrix/env options
    name: "build-tests-windows (${{ matrix.cudacxx.cuda }}, ${{ matrix.VISUALISATION }}, ${{ matrix.config.name }}, ${{ matrix.cudacxx.os }})"

    # Define job-wide env constants, and promote matrix elements to env constants for portable steps.
    env:
      # Define constants
      BUILD_DIR: "build"
      FLAMEGPU_BUILD_TESTS: "ON"
      FLAMEGPU_BUILD_PYTHON: "OFF"
      # Port matrix options to environment, for more portability.
      CUDA: ${{ matrix.cudacxx.cuda }}
      CUDA_ARCH: ${{ matrix.cudacxx.cuda_arch }}
      HOSTCXX: ${{ matrix.cudacxx.hostcxx }}
      OS: ${{ matrix.cudacxx.os }}
      CONFIG: ${{ matrix.config.config }}
      FLAMEGPU_SEATBELTS: ${{ matrix.config.SEATBELTS }}
      VISUALISATION: ${{ matrix.VISUALISATION }}
      # Ensure MSVC >= 1940 works with CUDA <= 12.3
      CUDAFLAGS: -allow-unsupported-compiler

    steps:
    - uses: actions/checkout@v3

    - name: Install CUDA (Windows)
      if: ${{ runner.os == 'Windows' && env.CUDA != '' }}
      shell: powershell
      env:
        cuda: ${{ env.CUDA }}
        visual_studio: ${{ env.HOSTCXX }}
      run: .github\scripts\install_cuda_windows.ps1

    - name: Add custom problem matchers for annotations
      run: echo "::add-matcher::.github/problem-matchers.json"

    # This pre-emptively patches a bug from ManyLinux where git dir is owned by diff user, blocking buildnumber generation
    - name: Enable git safe-directory
      run: git config --global --add safe.directory $GITHUB_WORKSPACE

    # Must pass -G -A for windows, and -DPython3_ROOT_DIR/-DPYTHON3_EXECUTABLE as a github action workaround
    - name: Configure cmake
      run: >
        cmake . -B "${{ env.BUILD_DIR }}"
        -G "${{ env.HOSTCXX }}" -A x64
        -Werror=dev
        -DCMAKE_WARN_DEPRECATED="OFF"
        -DFLAMEGPU_WARNINGS_AS_ERRORS="ON"
        -DCMAKE_CUDA_ARCHITECTURES="${{ env.CUDA_ARCH }}"
        -DFLAMEGPU_BUILD_TESTS="${{ env.FLAMEGPU_BUILD_TESTS }}"
        -DFLAMEGPU_BUILD_PYTHON="${{ env.FLAMEGPU_BUILD_PYTHON }}"
        -DFLAMEGPU_VISUALISATION="${{ env.VISUALISATION }}"
        -DFLAMEGPU_ENABLE_NVTX="ON"

    - name: Build static library
      working-directory: ${{ env.BUILD_DIR }}
      run: cmake --build . --config ${{ env.CONFIG }} --target flamegpu --verbose -j `nproc`

    - name: Build tests
      if: ${{ env.FLAMEGPU_BUILD_TESTS == 'ON' }}
      working-directory: ${{ env.BUILD_DIR }}
      run: cmake --build . --config ${{ env.CONFIG }} --target tests --verbose -j `nproc`

